<% MenuItem.order(:menu_category_id).each do |menu| %>
<div class="Dish-Card">
  <img class="Dish" src=<%= menu.description %> alt="" />
  <div class="Dish-Name"><%= menu.name %></div>
  <div class="Dish-Price">Price: ₹ <%= menu.price %></div>
  <button class="Add-To-Orders" onclick="document.location='Menu+Cart.html'">Add To Orders</button>
</div>
<% end %>
