<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CoCafe</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link href="CssDesign.css" rel="stylesheet" /> -->
  </head>
  <body id="FrontPage-Body">
    <header>
      <img src="Cocafe-logo.jpeg" alt="Cafeteria Logo" />
      <div>CoCafe</div>
      <div class="FrontPage-Search">
        <input type="text" placeholder="What are you looking for?" />
        <button type="submit"></button>
      </div>
      <span id="Name">
      Hi! <%= @current_user.first_name %>
      </span>
      <%= link_to "Sign Out", destroy_session_path, method: "delete", :id => 'Sign-Out' %>
    </header>

    <!-- <navbar>
      <ul class="Navigation">
          <li><a href="Menu.html">Menu</a></li>
          <li><a href="Orderlist.html">Order List</a></li>
          <li><a href="Myorders.html">My Orders</a></li>
          <li><a href="Contactus.html">Contact Us</a></li>
      </ul>
    </navbar> -->
    <br /><br />
    <span class="Menu-Text">MENU</span>
    <br /><br />

    <article class="Dishes">
      <%= render partial: "MenuItem-section" %>
    </article>
    <footer> </footer>
  </body>
</html>
