<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="CssDesign.css" rel="stylesheet" />
    <title>Checkout</title>
  </head>
  <body class="Checkout-Body">
    <header class="Login-Header">
      <img src="Cocafe-logo.jpeg" alt="Logo" />
    </header>
    <article class="On-The-Way">
      <img src="https://i.pinimg.com/originals/06/62/4d/06624db8d31b75e6b0a832a7ac1289ef.gif" alt="">
    </article>
    <div class="Text-OTW">
    <h1>Your Order is on the Way !!</h1>
    </div>
    <%= form_with(url: "/orders/#{@current_user.id}", method: "put") do %>
      <%= button_tag("Back To Home", class: "Back-To-Home", type: "submit") %>
    <% end %>
  </body>
</html>
