<% Order.order(:date).each do |order| %>
<%  if !order.delivered %>
<div class="Order-Admin"></div>
  <%= form_with(url: "/orders/#{order.user_id}", method: "get") do %>
  <div class="Row-New">Current Order To Be Delivered</div>
  <div class="Row-New">Date of Order: <%= order.date %></div>
  <div class="Row-New">Order ID: <%= order.id %></div>
  <%= button_tag("Mark As Delivered", type: "submit", class: "Add-To-Orders", :value => order.user_id, :name => "id") %>
  <% end %>
</div>
<% end %>
<% break %>
<% end %>
