<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CoCafe</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link href="CssDesign.css" rel="stylesheet" /> -->
  </head>
  <body id="FrontPage-Body">
    <br /><br />
    <span class="Menu-Text">MENU</span>
    <br /><br />

    <article class="Dishes">
      <%= render partial: "Item-section" %>
    </article>
    <footer> </footer>
  </body>
</html>
